/* CSS for the Joke component */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* set css background color of button based on prop button color */

.button {
  width: 100px;
  height: 50px;
  margin: 20px;
  border: solid 5px black;
  border-radius: 15px;
  transition: border-radius 0.5s;
}

.button:hover {
  border-radius: 35px;
}

.green {
  background-color: lightgreen;
}

.grey {
  background-color: lightgrey;
}

.pink {
  background-color: pink;
}

.green:hover {
  background-color: rgb(32, 178, 88);
}

.pink:hover {
  background-color: palevioletred;
}
